<footer class="footer">
  <div class="container">
    <p class="text-center text-muted"><span class="glyphicon glyphicon-copyright-mark" aria-hidden="true"></span> Copyright 2016 Ryan Mulkowsky</p>
    <p class="text-center text-muted"><span class="glyphicon glyphicon-user" aria-hidden="true"></span><a href="http://www.twitter.com/ryanmulkowsky">Follow Me On Twitter</a></p>
  </div>
</footer>
