<!DOCTYPE html>
<html lang="en">
<head>
  <% include partials/head %>
</head>

<body class="container-fluid">
  <header>
    <% include partials/header %>
  </header>

  <main>
    <div class="page-header">
      <h2>Here Are The Top Stories</h2>
    </div>
      <div class="container-fluid" id="article">
        <div class="col-xs-6 col-md-4">
          <div class="panel panel-default">
            <div class="panel-heading">
              <h3 class="panel-title">Progressive</h3>
            </div>
            <div class="panel-body">Article Content Goes Here</div>
          </div>
        </div>
        <div class="col-xs-6 col-md-4">
          <div class="panel panel-default">
            <div class="panel-heading">
              <h3 class="panel-title">Mainstream</h3>
            </div>
            <div class="panel-body">Article Content Goes Here</div>
          </div>
        </div>
        <div class="col-xs-6 col-md-4">
          <div class="panel panel-default">
            <div class="panel-heading">
              <h3 class="panel-title">Conservative</h3>
            </div>
            <div class="panel-body">Article Content Goes Here</div>
          </div>
        </div>
      </div>
  </main>

  <footer>
    <% include partials/footer %>
  </footer>

</body>
<script type="text/javascript" src="/javascripts/jquery.min.js" defer></script>
<script type="text/javascript" src="/javascripts/bootstrap.min.js" defer></script>
</html>
