<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/bootstrap.min.css' />
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <h1><%= title %></h1>
    <p>Welcome to <%= title %></p>
    <script type="text/javascript" src="/javascripts/jquery.min.js" defer></script>
    <script type="text/javascript" src="/javascripts/bootstrap.min.js" defer></script>
  </body>
</html>
